<ion-content class="content-container">
    <div class="home text-center">
        <div class="carousel">
            <br><br><br><br>
            <h1>{{ 'lets_get_in_touch_heading' | translate }}</h1><br>
            <h2>{{ 'lets_get_in_touch_paragraph' | translate }}</h2>

            <ion-row class="align-items-center justify-content-center">
                <div class="container pt-5">
                    <div class="row">
                        
                        <div class="col-lg-2 col-md-6 col-sm-12 pb-3 pt-3">
                            <div class="p-4">
                        
                            </div>
                        </div>

                        
                        <div class="col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 order-lg-1">
                            <div class="p-4">
                                <img src="assets/icon/TH_Deggendorf.jpg" alt="Description de l'image">
                            </div>
                        </div>

                       
                        <div class="col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 order-lg-1">
                            <div class="p-4 ">
                                <div class="overlay-text">
                                    
                                    <div class="left-contact">
                                        <div class="contact-info"><br>
                                            <h3>{{ 'contact_title' | translate }}</h3>
                                           
                                        </div>
                                    </div>
                                    <div class="left-contact">
                                        <div class="contact-info">
                                            <div class="contact-item"><br><br><br>
                                                <ion-icon name="mail-outline"></ion-icon>
                                                <a href="mailto:incomings@th-deg.de">incomings&#64;th-deg.de</a>
                                            </div>
                                            <div class="contact-item">
                                                <ion-icon name="business-outline"></ion-icon>
                                                <a> {{ 'international_office_head' | translate }}<br>Building B<br>Office B 210</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                
                        <div class="col-lg-2 col-md-6 col-sm-12 pb-3 pt-3 order-lg-3">
                            <div class="p-4">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </ion-row>
        </div>
    </div>
    <br><br><br><br>
    <app-footer></app-footer>
</ion-content>
