
 .overlay-text {
  
  height: 405px; 
   
  width: 100%;

  background-color: 	#a6a6a6;
  
  
}

a {
  font-size: 20px;
}
h1,h2 {
  color: white;
}

img {
   
  height: 400px;
 
  
}


ion-content {
  --background: url('https://wallpaperaccess.com/full/3124541.png') no-repeat center center / cover;

 
}
 