<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>TECHNISCHE HOCHSCHULE DEGGENDORF</h1>
        <p>
          Dieter-Görlitz-Platz 1<br>
          94469 Deggendorf<br>
          GERMANY<br>
          Telefon: +49 991 3615-0<br>
          Fax: +49 991 3615-297<br>
          <a href="mailto:info@th-deg.de">info&#64;th-deg.de</a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="footer-social text-center">
          <a href="https://www.facebook.com/HochschuleDeggendorf" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon> 
          </a>
          <a href="https://www.instagram.com/th_deggendorf" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="https://twitter.com/th_deggendorf" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon> 
          </a>
          <a href="https://de.linkedin.com/school/technische-hochschule-deggendorf" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon> 
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          © 2020 | 
          <a>Technische Hochschule Deggendorf</a> |
          <a href="https://www.th-deg.de/impressum">{{ 'imprintLink' | translate }}</a> |
          <a href="https://www.th-deg.de/datenschutz">{{ 'privacyLink' | translate }}</a> |
          <a href="https://www.th-deg.de/barrierefreiheit">{{ 'accessibilityLink' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
