<ion-content>

  <div class="container">

    <h2  >{{ 'faq_heading' | translate }}</h2>
    <h3>{{ 'faq_titel1' | translate }}</h3><br><br>
  

    <div>
      <ng-container>
        <app-faq-general></app-faq-general>
      </ng-container>
    </div>
    <h3>{{ 'faq_titel2' | translate }}</h3><br><br>
    
    <div>
      <ng-container>
        <app-faq-general-course></app-faq-general-course>
      </ng-container>
    </div>
    <h3 >{{ 'faq_titel3' | translate }}</h3><br><br>
    
    <div>
      <ng-container>
        <app-faq-other-course></app-faq-other-course>
      </ng-container>
    </div>
    <h3>{{ 'faq_titel4' | translate }}</h3><br><br>
    
    <div>
      <ng-container>
        <app-faq-pickup-service></app-faq-pickup-service>
      </ng-container>
    </div>
    <h3 >{{ 'faq_titel5' | translate }}</h3><br><br>
   
    <div>
      <ng-container>
        <app-faq-late-arrival></app-faq-late-arrival>
      </ng-container>
    </div>
    <h3  >{{ 'faq_titel6' | translate }}</h3><br><br>
    

    <div>
      <ng-container>
        <app-faq-life-deggendorf></app-faq-life-deggendorf>
      </ng-container>
    </div><br><br><br><br>




  </div>
    <app-footer></app-footer>

</ion-content>