



  img {

   


   height: auto;
    width: 130%;
    margin-top: 0em;
    padding: 1em;
   padding-bottom: 20em;





  }


  .bg-whit{

    background-color: white;
    height: 80%;

  }


ion-content {
  --background: url('https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center / cover;


}
