<ion-content class="content-container" >
  <div class="home text-center">

    <div ><br><br><br><br>
      

      <ion-row>
        <div class="container-fluid">
          <div class="row">

            <div  class="col-lg-1 pb-3 pt-3">
              <div class="p-4">

              </div>
            </div>


            <div class="col-lg-10 pb-3 pt-3 " >
              <div class="bg-whit border rounded">

                
              <img src="assets/icon/DIT_Campus Map_page-0001.jpg" alt="Description de l'image" >

              </div>

            </div>


            <div  class="col-lg-1 pb-3 pt-3">
              <div class="p-4">

              </div>
            </div>
          </div>
        </div>
      </ion-row>




    </div>
  </div><br><br><br><br><br>

  <app-footer></app-footer>
</ion-content>
