
div {
  margin: 20px;
}



.download-button {
  display: flex;
  align-items: center;
  background-color:#0085c8ff; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
  padding: 6px; /* Set your desired padding */
 padding-right: 0px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.download-button:hover {
  background-color: gray; /* Set your desired background color on hover */
  
  
}

.download-icon {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
  margin-right: 10px; /* Add some space between icon and text */
  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}


@media screen and (min-width: 1200px) {

  
.download-icon{
 
  margin-left: 13em;
}


  }


@media screen and (min-width: 992px) { 

  .download-icon{
 
    margin-left: 13em;
  }


}